a {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
a:visited {text-decoration: none;}

body{
	background-image: url("city_light.jpg")
	
}

.page-body{
	padding-top: 50px;
}